.divMainT{
    top: 52%;
    left: 54%;
    transform: translate(-50%, -50%);
    position: absolute;
    padding: 40px 360px;
    background-color: #004089;
    border-radius: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
}

.candy{
    position: absolute;
    top: -4%;
    left: 21%;
    padding: 10px 8px;
    border-radius: 30px;
    margin-left: 3.5%;
    margin-top: 3%;
}

.divLogin-lego{
    position: absolute;
    top: 4%;
    left: 6%;
    padding: 14px 50px;
    background-color: #057AFF;
    border-radius: 30px;
    margin-left: 3.5%;
    margin-top: 3%;
}

.over{
    position: relative;
    left:-118%;
    bottom: 0%;
    padding: 18px 10px;
    background-color: #FF9F3D;
    border-radius: 20px;
    border-style: solid;
    border-color: white;
    margin-left: 220%;
    margin-top: 16%;
    width: 100%;
}

.textoPosicao{
    margin-bottom: 7.8%;
    margin-top: -2%;
    height: 50%;
}   

.posicaoPedido1{
    margin-top: 8%;
}

.sbt-OK{
    margin-bottom: 8.5%;
    left: 0%;
    background-color: #FF6C01;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 12em;
    height: 2.9em;   
    border-radius: 30px;
    color: white;
    border-block-color: revert;
    border-block-start-width: initial;
    border-block-end: none;
    border-left-color: #ffffff00;
    border-right-color: #ffffff00;
    border-top-color: #ffffff00;
    cursor: pointer;
    font-size: 1em;
    margin-right: 70%;
}

.sbt-OK:hover{
    background-color: #db5d03;
}
