.divMainZ{
    top: 54%;
    left: 52%;
    transform: translate(-50%, -50%);
    position: absolute;
    padding: 380px 830px;
    background-color: #004089;
    border-radius: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
}

.divLogin-pcd{
    height: auto;
    top: 2%;
    left: 5%;
    position: absolute;
    padding: 36px 25px;
    background-color: #004089;
    border-radius: 8px;
}

.divLogin-mpb{
    height: auto;
    top: 20%;
    left: 6%;
    position: absolute;
    padding: 30px 32px;
    background-color: #057AFF;
    border-radius: 9px;
}

.divLogin-clt{
    height: auto;
    top: 20%;
    left: 38%;
    position: absolute;
    padding: 30px 32px;
    background-color: #057AFF;
    border-radius: 8px;
}

.divLogin-tcc{
    height: auto;
    top: 20%;
    left: 52%;
    position: absolute;
    padding: 30px 32px;
    background-color: #057AFF;
    border-radius: 8px;
}

.divLogin-sn{
    height: auto;
    top: 20%;
    left: 65.9%;
    position: absolute;
    padding: 30px 32px;
    background-color: #057AFF;
    border-radius: 8px;
}

.divLogin-pt{
    height: auto;
    top: 20%;
    left: 81%;
    position: absolute;
    padding: 24.5px 25px;
    background-color: #FF9528;
    border-radius: 8px;
}

.votuo{
    background-color: #FF6C01;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 9rem;
    height: 2rem;   
    border-radius: 15px;
    color: white;
    border-block-color: revert;
    border-block-start-width: initial;
    border-block-end: none;
    border-left-color: #ffffff00;
    border-right-color: #ffffff00;
    border-top-color: #ffffff00;
    cursor: pointer;
    margin-bottom: 21%;
}

.votuo:hover{
    background-color: #db5d03;
}

.divLogin-bot{
    height: auto;
    top: 90%;
    left: 79%;
    position: absolute;
    padding: 14px 18px;
    background-color: #004089;
    border-radius: 8px;
}

.batu{
    margin-left: 25%;
}