.divMainH{
    top: 54%;
    left: 52%;
    transform: translate(-50%, -50%);
    position: absolute;
    padding: 390px 680px;
    background-color: #004089;
    border-radius: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
}

.divLogin-big{
    height: auto;
    top: 6%;
    left: 6%;
    position: absolute;
    padding: 14px 20px;
    background-color: #004089;
    border-radius: 8px;
}

.divLogin-the{
    height: auto;
    top: 6%;
    left: 48%;
    position: absolute;
    padding: 14px 20px;
    background-color: #004089;
    border-radius: 8px;
}

.divLogin-ceu{
    height: auto;
    top: 20%;
    left: 7%;
    position: absolute;
    padding: 30px 32px;
    background-color: #057AFF;
    border-radius: 9px;
}

.divLogin-cia{
    height: auto;
    top: 20%;
    left: 46%;
    position: absolute;
    padding: 30px 32px;
    background-color: #057AFF;
    border-radius: 8px;
}

.divLogin-hi{
    height: auto;
    top: 20%;
    left: 63%;
    position: absolute;
    padding: 30px 32px;
    background-color: #057AFF;
    border-radius: 8px;
}

.divLogin-bts{
    height: auto;
    top: 20.2%;
    left: 80%;
    position: absolute;
    padding: 8px 25px;
    background-color: #FF9528;
    border-radius: 8px;
}

.divLogin-bot{
    height: auto;
    top: 90%;
    left: 80%;
    position: absolute;
    padding: 14px 20px;
    background-color: #004089;
    border-radius: 8px;
}

.batu{
    background-color: #FF6C01;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 14rem;
    height: 2rem;   
    border-radius: 15px;
    color: white;
    border-block-color: revert;
    border-block-start-width: initial;
    border-block-end: none;
    border-left-color: #ffffff00;
    border-right-color: #ffffff00;
    border-top-color: #ffffff00;
    cursor: pointer;
}