.fundo {
  background-image: url("../img/Movi_doc.png");
  background-position: absolute;
}

input {
  font-size: 2em;
  border-radius: 20px;
  border-color: #0000007d;
  border-style: hidden;
  border-top-style: solid;
  padding-inline-start: 15px;
}
input.submit {
  font-size: 1em;
  border-radius: 20px;
  border-color: #0000007d;
  border-style: hidden;
  border-top-style: solid;
  padding-inline-start: 15px;
}
.Line {
  position: absolute;
  height: 2%;
  left: 0%;
  right: 10%;
  padding: 2px 400px;
  background-color: #ffffff;
  top: 16%;
  margin-left: 0;
  margin-right: 25%;
  border-radius: 20px;
  }
.botao{
  text-align: center;
  background-color: #FF6C01;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 8rem;
  height: 8rem;
  border-radius: 30px;
  color: white;
  border-block-color: revert;
  border-block-start-width: initial;
  border-block-end: none;
  border-left-color: #ffffff00;
  border-right-color: #ffffff00;
  border-top-color: #ffffff00;
  cursor: pointer;
}
::placeholder {
  color: #ffffff;
}
div.texto {
  position: relative;
  padding: 1px;
  margin: 10px;
}

.divMain2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 34em;
  width: 80em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  padding: 1px;
  background-color: #004089;
  border-radius: 40px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(255, 255, 255);
}

.div-mid {
  display: flex;
  height: 25em;
  width: 75em;
  top: 14%;
  left: 40;
  position: absolute;
  padding: 100px 0px;
  background-color: #057aff;
  border-radius: 24px;
  align-items: center;
}
.div-ok {
  display: flex;
  align-items: center;
  position: absolute;
  width: 15%;
  height: 35%;
  padding: 2px 2px;
  background-color: #ff8c15;
  right: 7%;
  top: 35%;
  border-radius: 20px;
  border-style: solid;
  flex-direction: column;
  justify-content: center;

}

.tabela {
  height: 4em;
  padding: 1px;
  margin: 1px;
  width: 28em;
}
.Btable {
  display: flex;
  position: fixed;
  background-color: white;
  top: 41%;
  height: 8%;
  width: 28em;
  border-radius: 30px;
}
.tableL {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-color: #ffffff;
  border-style: hidden;
  background-color: #ff8a36;
  width: 32%;
  position: relative;
  left: -1%;
  border: white;
  text-align: center;
  font-size: 2em;
}
.tableC {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-color: #ffffff;
  border-style: hidden;
  padding-inline-start: 5px;
  background-color: #ff8a36;
  width: 31%;
  position: relative;
  left: 0;
  border: white;
  text-align: center;
  font-size: 2em;
}
.tableR {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  border-color: #ffffff;
  border-style: hidden;
  padding-inline-start: 5px;
  background-color: #ff8a36;
  width: 37%;
  position: relative;
  left: 1%;
  border: white;
  text-align: center;
  font-size: 2em;
}
th.QTD {
  position: relative;
  right: 20%;
}
th.UNIT {
  position: relative;
  right: 20%;
}
th.POSI {
  position: relative;
  right: 20%;
}
table {
  position: relative;
  right: 5%;
}
.posicaoTabela {
  display: flex;
  padding: 5px;
  margin: 2px;
  flex-direction: row;
  align-items: center;
}
.Btable2 {
  display: flex;
  position: fixed;
  background-color: white;
  top: 52%;
  height: 8%;
  width: 28em;
  border-radius: 30px;
}
.posicaoTabela2 {
  display: flex;
  padding: 5px;
  margin: 2px;
  flex-direction: row;
  align-items: center;
}
