.divMainX {
    top: 54%;
    left: 52%;
    transform: translate(-50%, -50%);
    position: absolute;
    padding: 350px 630px;
    background-color: #004089;
    border-radius: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
}
.divLogin-mc{
    height: auto;
    top: 12%;
    left: 4%;
    position: absolute;
    padding: 30px 32px;
    background-color: #057AFF;
    border-radius: 8px;
}
.divLogin-mt{
    height: auto;
    top: 12%;
    left: 22%;
    position: absolute;
    padding: 30px 32px;
    background-color: #057AFF;
    border-radius: 8px;
}
.divLogin-mv{
    height: auto;
    top: 12%;
    left: 40%;
    position: absolute;
    padding: 30px 32px;
    background-color: #057AFF;
    border-radius: 8px;
}
.divLogin-bt{
    height: auto;
    top: 12.2%;
    left: 81%;
    position: absolute;
    padding: 10px 25px;
    background-color: #FF9528;
    border-radius: 8px;
}
.bovuo{
    background-color: #FF6C01;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 9rem;
    height: 2rem;   
    border-radius: 15px;
    color: white;
    border-block-color: revert;
    border-block-start-width: initial;
    border-block-end: none;
    border-left-color: #ffffff00;
    border-right-color: #ffffff00;
    border-top-color: #ffffff00;
    cursor: pointer;
    margin-bottom: 22%;
    margin-top: 0%;
}
.bovuo:hover{
    background-color: #db5d03;
}

.fundinhoA{
    background-image: url("../img/fundoProf2.jpg");
    background-repeat:no-repeat;
    background-position:absolute; 
}