
.batu{
    background-color: #FF6C01;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 12rem;
    height: 2rem;   
    border-radius: 15px;
    color: white;
    border-block-color: revert;
    border-block-start-width: initial;
    border-block-end: none;
    border-left-color: #ffffff00;
    border-right-color: #ffffff00;
    border-top-color: #ffffff00;
    cursor: pointer;


}

.caixaTexto{
    font-size: 2em;
    border-radius: 30px;
    border-color: #0000007d;
    border-style: hidden;
    border-top-style: solid;
    padding-inline-start: 15px;
}

.texto{
    position: relative;
    top: 0px;
    color: #ffffff;
}

.botao{
    background-color: #FF6C01;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 9rem;
    height: 2rem;   
    border-radius: 15px;
    color: white;
    border-block-color: revert;
    border-block-start-width: initial;
    border-block-end: none;
    border-left-color: #ffffff00;
    border-right-color: #ffffff00;
    border-top-color: #ffffff00;
    cursor: pointer;
}

.inline{
    display: flex;
}

.botuo{
    background-color: #FF6C01;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 9rem;
    height: 2rem;   
    border-radius: 15px;
    color: white;
    border-block-color: revert;
    border-block-start-width: initial;
    border-block-end: none;
    border-left-color: #ffffff00;
    border-right-color: #ffffff00;
    border-top-color: #ffffff00;
    cursor: pointer;
    margin-bottom: 22%;
}

.botuo:hover{
    background-color: #db5d03;
}

.caixaTexto2{
    font-size: 160%;
    border-radius: 30px;
    border-color: #0000007d;
    border-style: hidden;
    border-top-style: solid;
    padding-inline-start: 15px;
}

.divLoginL{
    position: absolute;
    right: 575px;
    top: 140px;
}

.divLoginR{
    position: absolute;
    left: 575px;
    top: 140px;
}

.linkL{
    position: absolute;
    left: 18%;
    top: 100%;
    color: #fff;
}

.linkR{
    position: absolute;
    left: 24%;
    top: 100%;
    color: #fff;
}

nav.transicao{
    transform: translate(-50% , -50%);
    position: absolute;
    height: auto;
    top: 50%;
    left: 62.5%;
    background-color: #ffffff;
    padding: 324px 270px;
    overflow: hidden;
    transition: .5s;
    border-radius:100px;
}
    
.botaoo{
    background-color: #1b68c4;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 9rem;
    height: 2rem;   
    border-radius: 15px;
    color: white;
    border-block-color: revert;
    border-block-start-width: initial;
    border-block-end: none;
    border-left-color: #ffffff00;
    border-right-color: #ffffff00;
    border-top-color: #ffffff00;
    cursor: pointer;
    }

.senaiLogoR{
    position: fixed;
    top: -11%;
    left: 77%;
}

.fundo{
    background-image: url("../img/lindo_fundo.png");
    background-repeat:no-repeat;
    background-position:absolute; 
}
.fundo2{
    background-image: url("../img/lirio.png");
    background-repeat:no-repeat;
    background-position:absolute; 
}

.fundoP2{
    background-image: url("../img/fundoProf2.jpg");
    background-repeat:no-repeat;
    background-position:absolute; 
}


input[type=checkbox] {
    position: relative;
      cursor: pointer;
      right: 22px;
      bottom: 9px;
      border-radius: 20%;
}
input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    top: -8.5px;
    left: -8.5px;
    background-color:#1b68c4;
    border-radius: 20%;
    border: white;
}
input[type=checkbox]:checked:before {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color:#FF6C01;
    border-radius: 20%;
    border: 1px solid #fff;
}
input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 10px;
    height: 15px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: -3px;
    left: 2px;
}

.botao:active{
    position: relative;
    top: 2px;
}

.botao:hover{
    background-color: #db5d03;
    color: #fff;
}

.perfil{
    color: #ffffff;
    text-decoration: none;
    text-align: left;
    font-size: 37px;
    display: flex;
    margin-bottom: 20px;
    line-height: 20px;
    cursor: pointer;
    position: absolute;
    right: .5%;
    top: 12%;
}

.perfil:hover{
    color: #e0e0e0;
    transition: .2s;
}

.tableL{
    font-size: 200%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-color: #ffffff;
    border-style: hidden;
    padding-inline-start: 15px;
    background-color:  #ff8a36;
    width: 100%;
    position: relative;
    left: 2%;
    border: white;
    text-align: center;
}

.tableC{
    font-size: 200%;
    border-color: #ffffff;
    border-style: hidden;
    padding-inline-start: 15px;
    background-color:  #ff8a36;
    width: 100%;
    position: relative;
    left: 4%;
    text-align: center;
}

.tableR{
    font-size: 200%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-color: #ffffff;
    border-style: hidden;
    padding-inline-start: 15px;
    background-color:  #ff8a36;
    width: 100%;
    position: relative;
    left: 6.5%;
    text-align: center;
}

table{
    position: relative;
    right: 5%;
}

.divProf2{
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    position: absolute;
    padding: 43px 60px;
    background-color: #004089;
    border-radius:20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
}

.produto{
    padding-inline-start: 15px;
    position: relative;
    padding: 0px 30px;
    background-color: #057AFF;
    border-radius: 20px;
    text-align: center;
    margin-right: 10%;
}

.produtoPosition{
    margin-bottom: 5%;
}

.produtoPositionUp{
    margin-top: 3%;
}

.UNQTD{
    position: relative;
    padding: 0px 0px;
    font-size: 100%;
    border-radius: 20px;
    border-color: #ffffff;
    border-style: hidden;
    padding-inline-start: 15px;
    background-color:  #057AFF;
    width: 100%;
    text-align: center;
}

.caixaTextoUNQTD{
    background-color: #ff8a36;
    font-size: 2em;
    color: white;
    border-radius: 30px;
    border-color: #ffffff;
    border-style: solid;
    padding-inline-start: 15px;
    width: 40%;
}

.divMensagem{
    position: relative;
    left: 50%;
    transform: translate(-50% , -50%);
    padding: 60px 60px;
    background-color: #057AFF;
    border-radius: 10px;
    margin-top: 10%;
    margin-bottom: -4%;
}

.mensagem{
    position: absolute;
    width: 98.3%;
    height: 85%;
    bottom: 0%;
    left: 0%;
    font-size: 150%;
    border-radius: 10px;
    border-color: #0000007d;
    border-style: hidden;
    border-top-style: solid;
    padding-inline-start: 15px;
    margin-left: 1%;
    margin-bottom: 1%;
}

.posicaoP2{
    display: flex;
}

.posicaoBotao{
    position: relative;
    margin-bottom: -1%; 
    top: 50%;
    left: 83%;
}

.inline{
    display: flex;
}

.UNPosition{
    margin-right: 35%;
    margin-left: 13%;
}

.UNQTDPosition{
    position: relative;
    bottom: 10%;
}

.UNQTDPositionInput{
    position: relative;
    bottom: 3%;
}

.QTDPosition{
    position: relative;
    left: 13%;
}

.divLogin-mid div{
    background-color: #FF8C15;
    position: relative;
    height: 60%;
    margin-bottom: 5%;
    margin-left: -20%;
    margin-right: -20%;
    border-color: white;
    border-style: solid;
    border-radius: 30px;
}

.divlogin-NAO{
    position: absolute;
    padding: 0px 50px;
    background-color: #057AFF;
    border-radius: 10px;
    margin-right: 0%;
}

.caixaTextoDocas{
    position: relative;
    font-size: 2em;
    border-radius: 30px;
    border-color: #0000007d;
    border-style: hidden;
    border-top-style: solid;
    padding-inline-start: 15px;
}

.div-expedicao{
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%);
    position: absolute;
    padding: 50px 100px;
    background-color: #004089;
    border-radius: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
}

.div-expedicao1{
    background-color: #057AFF;
    position: relative;
    top: 0%;
    right: 0%;
    height: 50%;
    width: 55%;
    border-radius: 20px;
    padding: 3% 5%;
}

.tableLE{
    font-size: 200%;
    width: 100%;
    position: relative;
    left: 2%;
    border: white;
    text-align: center;
    width: 160%;
}

.tableLET{
    border-top-left-radius: 15px;
}

.tableLEB{
    border-bottom-left-radius: 15px;
}

.tableCE{
    font-size: 200%;
    border-color: #ffffff;
    border-style: hidden;
    padding-inline-start: 15px;
    width: 100%;
    position: relative;
    left: 23%;
    text-align: center;
    width: 40%;
    margin-left: 87%;
}

.tableRE{
    font-size: 200%;
    border-color: #ffffff;
    border-style: hidden;
    padding-inline-start: 15px;
    width: 100%;
    position: relative;
    left: 21%;
    text-align: center;
    margin-left: 8.5%;
    width: 50%;
    margin-left: 37%;
}

.tableRET{
    border-top-right-radius: 15px;
}

.tableREB{
    border-bottom-right-radius: 15px;
}

.PRODUTOE{
    position: relative;
    right: 5%;
}

.UNITE{
    position: relative;
    right: -21.5%;
}

.QTDE{
    position: relative;
    right: -11%;
}

.posicaoExpedicao{
    position: relative;
    margin-bottom: 20%;
}

.div-expedicao2{
    background-color: #057AFF;
    position: relative;
    top: 0%;
    right: 0%;
    height: 0%;
    width: 0%;
    border-radius: 20px;
    padding: 15% 7%;
    margin-left: 3.5%;
}