.btn {
  border: none;
  font-family: 'Lato';
  background: none;
  cursor: pointer;
  padding: 10px 60px;
  display: inline-block;
  margin: 0px 30px;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border-radius:100px;
}

.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* Pseudo elements for icons */
.btn:before {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

.btn-sep:before {
  background: rgba(0,0,0,0.15);
}

.btn-1 {
  background: #2364dd;
  color: #fff;
}

.btn-1:hover {
  background: #1e58c4;
}

.btn-1:active {
  background: #1c52b6;
  top: 2px;
}

.btn-1:before {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 3;
  font-size: 140%;
  width: 60px;
}

.btn-2 {
  background: #1e9ac0;
  color: #fff;
}

.btn-2:hover {
  background: #1b8bad;
}

.btn-2:active {
  background: #1983a3;
  top: 2px;
}

.btn-2:before {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 3;
  font-size: 140%;
  width: 60px;
}