.divMainY{
    position: absolute;
    top: 53%;
    left: 51%;
    transform: translate(-50%, -50%);
    padding: 14% 18.3%;
    background-color: #004089;
    border-radius: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    border-radius: 2em;
}

.divLogin-pobi{
    top: 17%;
    left: 3%;
    position: absolute;
    padding: 5% 7%;
    background-color: #057AFF;
    border-radius: 2em;
}

.caixaTextoL{
    font-size: 2em;
    border-style: solid;
    padding-inline-start: 15px;
    width: 300px;
    border-color: rgb(185, 185, 185);
}

.caixaTextoC{
    font-size: 2em;
    border-style: solid;
    padding-inline-start: 15px;
    width: 100px;
    border-color: rgb(185, 185, 185);
}

.caixaTextoR{
    font-size: 2em;
    border-style: solid;
    padding-inline-start: 15px;
    width: 100px;
    border-color: rgb(185, 185, 185);
}

.tablePosition{
    position: relative;
    right: 3%;
}

.tablePosition2{
    position: relative;
    left: 3%;
}

.alinhamento{
    position: relative;
    text-align: left;
    left: 2%;
}

.caixaTextoLUpLeft{
    border-top-left-radius: 10px;
}

.caixaTextoLUpRight{
    border-top-right-radius: 10px;
}

.caixaTextoLBottomLeft{
    border-bottom-left-radius: 10px;
}

.caixaTextoLBottomRight{
    border-bottom-right-radius: 10px;
}

.caixaTextoLaranja{
    font-size: 2em;
    border-style: solid;
    padding-inline-start: 15px;
    width: 200px;
    border-color: rgb(255, 255, 255);   
    background-color: #FF8C15;
    color: white;
}

.caixaTextoLaranja2{
    font-size: 2em;
    border-style: solid;
    padding-inline-start: 15px;
    width: 200px;
    border-color: rgb(255, 255, 255); 
    background-color: #FF8C15;
    color: white;
}

.caixaTextoLaranjaLUpLeft{
    border-top-left-radius: 20px;
}

.caixaTextoLaranjaLUpRight{
    border-top-right-radius: 20px;
}

.caixaTextoLaranjaBottomLeft{
    border-bottom-left-radius: 20px;
}

.caixaTextoLaranjaBottomRight{
    border-bottom-right-radius: 20px;
}

.pedidoDeVenda{
    position: relative;
    bottom: 235px;
    right: 320px;
    font-size: 2em;
    border-style: solid;
    padding-inline-start: 15px;
    border-radius: 20px;
}

.botaoPosicao{
    position: relative;
    top: 248px;
    left: 610px;
    font-size: .9em;
}