.divLoginnn{
    transform: translate(-50% , -50%);
    padding: 20px 50px;
    background-color: #057AFF;
    border-radius: 15px;
    border-color: white;
    position: absolute;
}

.divMain{
    top: 52%;
    left: 54%;
    transform: translate(-50%, -50%);
    position: absolute;
    padding: 200px 300px;
    background-color: #004089;
    border-radius: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
}