.divLogin-right {
    height: auto;
    top: 10%;
    right: 15%;
    position: absolute;
    padding: 25px 50px;
    background-color: #057AFF;
    border-radius: 10px
    }
.btn-link{
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: rgb(0, 0, 0);;
    text-decoration: underline;
    cursor: pointer;
    z-index: 1;
}
.divLogin-pedido{
height: auto;
    top: 50%; 
    left: 27%;
    position: absolute;
    padding: 200px -1px;}
    
.divMain2 {
        top: 52%;
        left: 54%;
        transform: translate(-50%, -50%);
        position: absolute;
        padding: 400px 700px;
        background-color: #004089;
        border-radius: 20px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: rgb(255, 255, 255);
    }
.docas{
    font-size: 2em;
    border-color: #ffffff;
    border-style: solid;
    border-radius: 30px;
    background-color: #FF8C15;
    padding-inline-start: 10px;
    
}
.divMainX {
    top: 54%;
    left: 52%;
    transform: translate(-50%, -50%);
    position: absolute;
    padding: 350px 830px;
    background-color: #004089;
    border-radius: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
}
.divLogin-meu{
    height: auto;
    top: 12%;
    left: 6%;
    position: absolute;
    padding: 30px 32px;
    background-color: #057AFF;
    border-radius: 9px;
}
.divLogin-mc{
    height: auto;
    top: 12%;
    left: 38%;
    position: absolute;
    padding: 30px 32px;
    background-color: #057AFF;
    border-radius: 8px;
}
.divLogin-mt{
    height: auto;
    top: 12%;
    left: 52%;
    position: absolute;
    padding: 30px 32px;
    background-color: #057AFF;
    border-radius: 8px;
}
.divLogin-mv{
    height: auto;
    top: 12%;
    left: 65.9%;
    position: absolute;
    padding: 30px 32px;
    background-color: #057AFF;
    border-radius: 8px;
}
.divLogin-bt{
    height: auto;
    top: 12.2%;
    left: 81%;
    position: absolute;
    padding: 36px 25px;
    background-color: #FF9528;
    border-radius: 8px;
}
.divLogin-bo{
    height: auto;
    top: 88%;
    left: 81.2%;
    position: absolute;
    padding: 16px 20px;
    background-color: #004089;
    border-radius: 8px;
}
.bot{
    background-color: #FF6C01;
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 10rem;
    height: 2rem;   
    border-radius: 15px;
    color: white;
    border-block-color: revert;
    border-block-start-width: initial;
    border-block-end: none;
    border-left-color: #ffffff00;
    border-right-color: #ffffff00;
    border-top-color: #ffffff00;
    cursor: pointer;
    margin-bottom: 7%;
}

.bot:hover{
    background-color: #db5d03;
    color: #fff;
}

.bot:before{
    display: block;
    position: absolute;
    top: -8.5px;
}
.divMainZ {
    top: 54%;
    left: 52%;
    transform: translate(-50%, -50%);
    position: absolute;
    padding: 380px 830px;
    background-color: #004089;
    border-radius: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
}
.divLogin-mpb{
    height: auto;
    top: 20%;
    left: 6%;
    position: absolute;
    padding: 30px 32px;
    background-color: #057AFF;
    border-radius: 9px;
}
.divLogin-clt{
    height: auto;
    top: 20%;
    left: 38%;
    position: absolute;
    padding: 30px 32px;
    background-color: #057AFF;
    border-radius: 8px;
}
.divLogin-tcc{
    height: auto;
    top: 20%;
    left: 52%;
    position: absolute;
    padding: 30px 32px;
    background-color: #057AFF;
    border-radius: 8px;
}
.divLogin-sn{
    height: auto;
    top: 20%;
    left: 65.9%;
    position: absolute;
    padding: 30px 32px;
    background-color: #057AFF;
    border-radius: 8px;
}
.divLogin-pt{
    height: auto;
    top: 20.2%;
    left: 81%;
    position: absolute;
    padding: 36px 25px;
    background-color: #FF9528;
    border-radius: 8px;
}
.divLogin-pcd{
    height: auto;
    top: 2%;
    left: 5%;
    position: absolute;
    padding: 36px 25px;
    background-color: #004089;
    border-radius: 8px;
}
.divLogin-nada{
    height: auto;
    top: 16%;
    left: 10%;
    position: absolute;
    padding: 30px 32px;
    background-color: #057AFF;
    border-radius: 8px;
}
.divLogin-pobi{
    height: auto;
    top: 10%;
    left:6%;
    position: absolute;
    padding: 250px 420px;
    background-color: #057AFF;
    border-radius: 9px;
}
.divLogin-puts{
    height: auto;
    top: 16%;
    left: 64%;
    position: absolute;
    padding: 36px 25px;
    background-color: #057AFF;
    border-radius: 8px;
}
.divMainY {
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    padding: 310px 480px;
    background-color: #004089;
    border-radius: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
}