.divLogin{
    height: auto;
    top: 68%;
    left: 54%;
    transform: translate(-50% , -50%);
    position: absolute;
    padding: 130px 520px;
    background-color: #0370d6bb;
    border-radius:15px;
}
.caixaTexto{
    font-size: 2em;
    border-radius: 30px;
    border-color: #0000007d;
    border-style: hidden;
    border-top-style: solid;
    padding-inline-start: 15px;
}
.botao2{
    position: absolute;
    background-color: rgba(2, 110, 182, 0.872);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 5%;
    height: 3.2%;   
    border-radius: 15px;
    color: white;
    border-block-color: revert;
    border-block-start-width: initial;
    border-block-end: none;
    border-left-color: #ffffff00;
    border-right-color: #ffffff00;
    border-top-color: #ffffff00;
    left: 18%;
    top: 1%;
    cursor: pointer;
}

.texto{
    position: fixed;
    top: -13%;
    left: 12%;
}
