.divProf2{
    top: 50%;
    left: 54%;
    transform: translate(-50% , -50%);
    position: absolute;
    padding: 2% 8%;
    background-color: #004089;
    border-radius: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
}

.produto{
    padding-inline-start: 15px;
    position: relative;
    padding: 0px 30px;
    background-color: #057AFF;
    border-radius: 20px;
    text-align: center;
    margin-right: 0%;
    right: 13%;
}

.UNQTD{
    position: relative;
    padding: 0% 20%;
    border-radius: 20px;
    border-color: #ffffff;
    border-style: hidden;
    padding-inline-start: 15px;
    background-color:  #057AFF;
    text-align: center;
    right: 7%;
}

.UNQTDPosition{
    position: relative;
    bottom: 10%;
}

.UNposition{
    position: relative;
    bottom: 10%;
    left: 7%;
}

.QTDposition{
    position: relative;
    bottom: 10%;
    left: 34%;
}

.VUNTposition{
    position: relative;
    bottom: 10%;
    left: 56%;
}

.VTOTALposition{
    position: relative;
    bottom: 10%;
    left: 76%;
}

.produtoPosition{
    margin-bottom: 5%;
    margin-left: 0%;
}

.produtoPositione{
    position: relative;
    margin-bottom: 5%;
    right: 13%;
}

.produtoPositionUp{
    margin-top: 5%;
}

.TD{
    position: relative;
    padding: 0px 0px;
    font-size: 100%;
    border-radius: 20px;
    border-color: #ffffff;
    border-style: hidden;
    padding-inline-start: 15px;
    background-color:  #057AFF;
    width: 100%;
    text-align: center;
}

.caixaTextoUNQTD{
    position: relative;
    background-color: #ff8a36;
    font-size: 2em;
    color: white;
    border-radius: 30px;
    border-color: #ffffff;
    border-style: solid;
    padding-inline-start: 15px;
    width: 2.5em;
}

.caixaTextoTD{
    background-color: #ff8a36;
    font-size: 2em;
    color: white;
    border-radius: 30px;
    border-color: #ffffff;
    border-style: solid;
    padding-inline-start: 15px;
    width: 40%;
}

.caixaTextoTDPosi{
    margin-right: 26%;
}

.divMensagem{
    position: relative;
    width: 126%;
    left: 50%;
    transform: translate(-50% , -50%);
    padding: 60px 10px;
    background-color: #057AFF;
    border-radius: 10px;
    margin-top: 10%;
    margin-bottom: -4%;
}

.mensagem{
    position: absolute;
    padding: 3.2% 66.5%;
    bottom: 0%;
    left: 0%;
    font-size: 150%;
    border-radius: 10px;
    border-color: #0000007d;
    border-style: hidden;
    border-top-style: solid;
    padding-inline-start: 15px;
    margin-left: 1%;
    margin-bottom: 1%;
}

.posicaoP2{
    display: flex;
}

.posicaoBotao{
    position: relative;
    margin-bottom: -1%; 
    top: 50%;
    left: 95.5%;
}

.inline{
    display: flex;
}

.UNPosition{
    margin-right: 35%;
    margin-left: 12%;
}

.NPosition{
    margin-right: 35%;
    margin-left: 12%;
}

.TDPosition{
    position: relative;
    bottom: 10%;
}

.UNQTDPositionInput{
    position: relative;
    bottom: 3%;
}

.TDPositionInput{
    position: relative;
    bottom: 3%;
} 

.QTDPosition{
    position: relative;
    left: 13%;
}

.TOPosition{
    position: relative;
    left: 13%;
}

.divLogin-mid div{
    background-color: #FF8C15;
    position: relative;
    height: 60%;
    margin-bottom: 5%;
    margin-left: -20%;
    margin-right: -20%;
    border-color: white;
    border-style: solid;
    border-radius: 30px;
}

.divlogin-NAO{
    position: absolute;
    padding: 0px 50px;
    background-color: #057AFF;
    border-radius: 10px;
    margin-right: 0%;
}

.caixaTextoDocas{
    position: relative;
    font-size: 2em;
    border-radius: 30px;
    border-color: #0000007d;
    border-style: hidden;
    border-top-style: solid;
    padding-inline-start: 15px;
}

.Position{
    position: relative;
    margin-right: 15%;
}