.divlogin{
    transform: translate(-50% , -50%);
    padding: 20px 50px;
    background-color: #057AFF;
    border-radius:15px;
    border-radius:10px;
}
.divLoginE{
    top: 54%;
    left: 54%;
    transform: translate(-50% , -50%);
    position: absolute;
    padding: 400px 760px;
    background-color: #004089;
    border-radius:20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
}

.divLogin-mith{
        height: auto;
        top: 48%;
        right: 40%;
        position: absolute;
        padding: 28px 30px;
        background-color: #FF8C15;
}
.divLogin-mit{
    height: auto;
    top: 50%;
    right: -45%;
    position: absolute;
    padding: 360px 720px;
}
.divLogin-rigth{
    height: auto;
    top: 47%;
    left: 75%;
    position: absolute;
    padding: 14px 16px;
    background-color: #FF8C15;
}
.divLogin-rig{
    height: auto;
    top: 34%;
    left: 26%;
    position: absolute;
    padding: 24px 36px;
    background-color: #057AFF;
}
.divLogin-big{
    height: auto;
    top: 34%;
    left: 75%;
    position: absolute;
    padding: 24px 36px;
    background-color: #057AFF;
}
.divLogin-vira{
    height: auto;
    top: 67%;
    left: 62%;
    position: absolute;
    padding: 24px 36px;
    background-color: #057AFF;
}
.divLogin-tira{
    height: auto;
    top: 67%;
    left: 86%;
    position: absolute;
    padding: 24px 36px;
    background-color: #057AFF;
}
.divLogin-vita{
    height: auto;
    top: 67%;
    left: 13%;
    position: absolute;
    padding: 24px 36px;
    background-color: #057AFF;
}
.divLogin-vina{
    height: auto;
    top: 67%;
    left: 36%;
    position: absolute;
    padding: 24px 36px;
    background-color: #057AFF;
}
.divLogin-tig{
    height: auto;
    top: 18%;
    left: 8%;
    position: absolute;
    padding: 24px 36px;
    background-color: #057AFF;
}

*{
    margin: 0;
    padding: 0;
}

td{
    border-radius:73px;
    padding: 1px;
}

input{
    border-radius: 90px;
}
.caixaText3{
    font-size: 1em;
    border-radius: 88px;
    border-color: #0000007d;
    border-style: hidden;
    border-top-style: solid;
    padding-inline-start:1px;
}