.divLognV{
    top: 50%;
    left: 54%;
    transform: translate(-50% , -50%);
    position: absolute;
    padding: 350px 700px;
    background-color: #004089;
    border-radius:20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
}
.divLogin-Rights{
    height: auto;
    top: 47%;
    right: 42%;
    position: absolute;
    padding: 30px 32px;
}
.divLogin-lefts{
    height: auto;
    top: 46%;
    left: 20%;
    position: absolute;
    padding: 20px 54px;
}
.divLogin-Righ{
    height: auto;
    top: 47%;
    right: 31%;
    position: absolute;
    padding: 30px 32px;
}
.divLogin-lef{
    height: auto;
    top: 47%;
    left: 70%;
    position: absolute;
    padding: 30px 32px;
}
.divLogin-let{
    height: auto;
    top: 47%;
    left: 82%;
    position: absolute;
    padding: 30px 32px;
    background-color: #FF9528;
}
.fundinhoA{
    background-image: url("../img/Movi_dic.png");
    background-repeat:no-repeat;
    background-position:absolute; 
}
.caixaText{
    font-size: 3em;
    border-radius: 1px;
    border-color: #0000004a;
    border-style: hidden;
    border-top-style: solid;
    padding-inline-start: 3px;
}
.caixaText2{
    font-size: 2em;
    border-radius: 1px;
    border-color: #0000007d;
    border-style: hidden;
    border-top-style: solid;
    padding-inline-start: 3px;
}