.divLogin{
    transform: translate(-50% , -50%);
    padding: 20px 50px;
    background-color: #057AFF;
    border-radius:15px;
    border-radius:10px;
    border-color: white;
    position: absolute;
    left: 74%;
}

.divLogin-left{
    height: auto;
    top: 50%;
    left: 27%;
    position: absolute;
    padding: 40px 60px;
}
.fundinhoA{
    background-image: url("../img/mandaraio.png");
    background-repeat:no-repeat;
    background-position:absolute; 
}


.divLogin-Right{
    height: auto;
    top: 50%;
    right: -18%;
    position: absolute;
    z-index: 1;
    padding: 38px 90px;
}
.divLoginD{
    top: 52%;
    left: 54%;
    transform: translate(-50% , -50%);
    position: absolute;
    padding: 430px 760px;
    background-color: #004089;
    border-radius:20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
}

.caixaTexto{
    font-size: 2em;
    border-radius: 30px;
    border-color: #0000007d;
    border-style: hidden;
    border-top-style: solid;
    padding-inline-start: 15px;
}
.botao2{
    position: absolute;
    background-color: rgba(2, 110, 182, 0.872);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 5%;
    height: 3.2%;   
    border-radius: 15px;
    color: white;
    border-block-color: revert;
    border-block-start-width: initial;
    border-block-end: none;
    border-left-color: #ffffff00;
    border-right-color: #ffffff00;
    border-top-color: #ffffff00;
    left: 18%;
    top: 1%;
    cursor: pointer;
}