@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');
.container{
    background-color: #165fb8;
    position: relative;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body{
    height: 100vh;
}

nav.menu-lateral{
    width: 70px;
    height: 100%;
    background-color: #0b0c25;
    padding: 40px o 40px 1%;
    box-shadow: 8px 0 0 #165fb8;
    position: fixed;
    top: 0%;
    left: 0%;
    overflow: hidden;
    transition: .5s;
}

nav.menu-lateral.expandir{
    width: 300px;
}

.btn-expandir{
    width: 100%;
    padding-left: 10px;
}

.btn-expandir > i{
    color: #fff;
    font-size: 36px;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style-type: none;
}

ul li.item-menu{
    transition: .5s;
}

ul li.item-menuu{
    transition: .5s;
}

ul li.ativo{
    background-color: #165fb8;
    width: 100%;
}

ul li.item-menu:hover{
    background: #165fb8;
    width: 200%;
}

ul li.item-menu a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    line-height: 40px;
}

ul li.item-menuu{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    line-height: 40px;
}

ul li.item-menu a .txt-link{
    margin-left: 70px;
    transition: .5s;
    opacity: 0;
}

ul li.item-menuu .txt-linke{
    margin-left: 70px;
    transition: .5s;
    opacity: 0;
}

nav.menu-lateral.expandir .txt-link{
    margin-left: 40px;
    opacity: 1;
}

nav.menu-lateral.expandir .txt-linke{
    margin-left: 40px;
    opacity: 1;
}

ul li.item-menu a .icon > i{
    font-size: 30px;
    margin-left: 14px;
}

ul li.item-menuu .icone > i{
    font-size: 30px;
    margin-left: 13px;
}

summary {
  display: flex;
}

summary::after {
  margin-left: 1ch;
  display: inline-block;
  content: '▶';
  color: #fff;
  transition: .1s;
}

details{
    cursor: pointer;
}

details[open] > summary::after {
  transform: rotate(90deg);
}

.post{
    width: 50%;
}

.position{
    position: relative;
    left: 10%;
}