
.batu{
    background-color: #FF6C01;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 12rem;
    height: 2rem;   
    border-radius: 15px;
    color: white;
    border-block-color: revert;
    border-block-start-width: initial;
    border-block-end: none;
    border-left-color: #ffffff00;
    border-right-color: #ffffff00;
    border-top-color: #ffffff00;
    cursor: pointer;

}

.caixaTexto{
    font-size: 2em;
    border-radius: 30px;
    border-color: #0000007d;
    border-style: hidden;
    border-top-style: solid;
    padding-inline-start: 15px;
}

.texto{
    position: relative;
    top: 0px;
    color: white;
}

.botao{
    background-color: #FF6C01;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 9rem;
    height: 2rem;   
    border-radius: 15px;
    color: white;
    border-block-color: revert;
    border-block-start-width: initial;
    border-block-end: none;
    border-left-color: #ffffff00;
    border-right-color: #ffffff00;
    border-top-color: #ffffff00;
    cursor: pointer;
}

.inline{
    display: flex;
}

.botuo{
    background-color: #FF6C01;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 9rem;
    height: 2rem;   
    border-radius: 15px;
    color: white;
    border-block-color: revert;
    border-block-start-width: initial;
    border-block-end: none;
    border-left-color: #ffffff00;
    border-right-color: #ffffff00;
    border-top-color: #ffffff00;
    cursor: pointer;
    margin-bottom: 22%;
}

.botuo:hover{
    background-color: #db5d03;
}

.caixaTexto2{
    font-size: 160%;
    border-radius: 30px;
    border-color: #0000007d;
    border-style: hidden;
    border-top-style: solid;
    padding-inline-start: 15px;
}

.divLoginL{
    position: absolute;
    right: 575px;
    top: 140px;
}

.divLoginR{
    position: absolute;
    left: 575px;
    top: 140px;
}

.linkL{
    position: absolute;
    left: 18%;
    top: 100%;
    color: #fff;
}

.linkR{
    position: absolute;
    left: 24%;
    top: 100%;
    color: #fff;
}

nav.transicao{
    transform: translate(-50% , -50%);
    position: absolute;
    height: auto;
    top: 50%;
    left: 62.5%;
    background-color: #ffffff;
    padding: 324px 270px;
    overflow: hidden;
    transition: .5s;
    border-radius:100px;
}
    
.botaoo{
    background-color: #1b68c4;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 9rem;
    height: 2rem;   
    border-radius: 15px;
    color: white;
    border-block-color: revert;
    border-block-start-width: initial;
    border-block-end: none;
    border-left-color: #ffffff00;
    border-right-color: #ffffff00;
    border-top-color: #ffffff00;
    cursor: pointer;
    }

.senaiLogoR{
    position: fixed;
    top: -11%;
    left: 77%;
}

.fundo{
    background-image: url("../img/lindo_fundo.png");
    background-repeat:no-repeat;
    background-position:absolute; 
}
.fundo2{
    background-image: url("../img/lirio.png");
    background-repeat:no-repeat;
    background-position:absolute; 
}

.fundoP2{
    background-image: url("../img/fundoProf2.jpg");
    background-repeat:no-repeat;
    background-position:absolute; 
}


input[type=checkbox] {
    position: relative;
      cursor: pointer;
      right: 22px;
      bottom: 9px;
      border-radius: 20%;
}
input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    top: -8.5px;
    left: -8.5px;
    background-color:#1b68c4;
    border-radius: 20%;
    border: white;
}
input[type=checkbox]:checked:before {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color:#FF6C01;
    border-radius: 20%;
    border: 1px solid #fff;
}
input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 10px;
    height: 15px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: -3px;
    left: 2px;
}

.botao:active{
    position: relative;
    top: 2px;
}

.botao:hover{
    background-color: #db5d03;
    color: #fff;
}

.perfil{
    color: #ffffff;
    text-decoration: none;
    text-align: left;
    font-size: 37px;
    display: flex;
    margin-bottom: 20px;
    line-height: 20px;
    cursor: pointer;
    position: absolute;
    right: .5%;
    top: 12%;
}

.perfil:hover{
    color: #e0e0e0;
    transition: .2s;
}

table{
    position: relative;
    right: 5%;
}