.divMainY{
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    padding: 13% 22%;
    background-color: #004089;
    border-radius: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    border-radius: 2em;
}

.divLogin-pobi{
    top: 12%;
    left: 6%;
    position: absolute;
    padding: 23% 29%;
    background-color: #057AFF;
    border-radius: 2em;
}

.divLogin-nada{
    top: 6%;
    left: 6%;
    position: absolute;
    padding: 6% 5%;
    background-color: #057AFF;
    border-radius: 2em;
}

.divLogin-sim{
    top: 12%;
    left: 70%;
    position: absolute;
    padding: 22.8% 12%;
    background-color: #FF9528;
    border-radius: 2em;
    border-color: white;
    border-style: solid;
}

.divLogin-puts{
    top: 14%;
    left: 10%;
    position: absolute;
    padding: 0% 0%;
    border-radius: 2em;
}

.bot{
    background-color: #FF6C01;
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 10rem;
    height: 2rem;   
    border-radius: 15px;
    color: white;
    border-block-color: revert;
    border-block-start-width: initial;
    border-block-end: none;
    border-left-color: #ffffff00;
    border-right-color: #ffffff00;
    border-top-color: #ffffff00;
    cursor: pointer;
    margin-bottom: 7%;
}

.bot:hover{
    background-color: #db5d03;
}

.bot:active{
    top: 4px;
}