.fundo {
  background-image: url("../img/Movi_doc.png");
  background-position: absolute;
}
input {
  font-size: 2em;
  border-radius: 20px;
  border-color: #0000007d;
  border-style: hidden;
  border-top-style: solid;
  padding-inline-start: 3px;
}
.texto {
  left: 0%;
  position: relative;
  padding: 0px;
  margin: 0px;
}
.tabela {
  height: auto;
  position: absolute;
  padding: 0px 0px;
  margin: 0px 0px;
}

.divLogin-ok {
  position: absolute;
  width: 15%;
  height: 40%;
  padding: 0px 0px;
  background-color: #ff8c15;
  right: 5%;
  border-radius: 20px;
  border-style: solid;
}
.divMain {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  padding: 18em 34em;
  background-color: #004089;
  border-radius: 40px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(255, 255, 255);
}

.divLogin-mid {
  display: flex;
  height: 34em;
  width: 66em;
  top: -3%;
  left: -39%;
  position: absolute;
  padding: 0px 0px;
  background-color: #057aff;
  border-radius: 24px;
  align-items: center;
}
