.OrangeBlockio
{
    position: relative;
    border-style: solid;
    height: 60%;
    left: 0%;
    padding: 40px 90px;
    background-color: #FF9528;
    top: 80%;
    margin-left: 70%;
    margin-right: 60%;
    border-radius: 20px;
    }
    
    .BlueBlock{
        position: relative;
        padding: 35px 60px;
        background-color: #057AFF;
        left: 10%;
        margin-left: 4%;
        margin-right: 600%;
        border-radius: 20px;
        position: absolute;
    }
