.divMainY{
    position: absolute;
    top: 53%;
    left: 51%;
    transform: translate(-50%, -50%);
    padding: 13% 21%;
    background-color: #004089;
    border-radius: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    border-radius: 2em;
}

.divLogin-pobi{
    top: 18%;
    left: 3%;
    position: absolute;
    padding: 17% 43%;
    background-color: #057AFF;
    border-radius: 2em;

}

.tabeleL{
    position: relative;
    font-size: 2em;
    border-color: #ffffff;
    border-style: solid;
    padding-inline-start: 15px;
    background-color: #ff8a36;
    border-top-left-radius: 3em;
    border-bottom-left-radius: 3em;
    border-width: 30%;
    color: white;
}

.tableR {
    position: relative;
    font-size: 2em;
    border-color: #ffffff;
    border-style: solid;
    padding-inline-start: 15px;
    background-color: #ff8a36;
    border-top-left-radius: 3em;
    border-bottom-left-radius: 3em;
    border-width: 30%;
}   

.caixaTextoPosicao{
    position: relative;
    z-index: 1;
}



.divLogin-puts{
    top: 14%;
    left: 10%;
    position: absolute;
    padding: 0% 0%;
    border-radius: 2em;
}

.bot{
    background-color: #FF6C01;
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 15rem;
    height: 3rem;
    border-radius: 26px;
    color: white;
    border-block-color: revert;
    border-block-start-width: initial;
    border-block-end: none;
    border-left-color: #ffffff00;
    border-right-color: #ffffff00;
    border-top-color: #ffffff00;
    cursor: pointer;
    margin-bottom: 32%;
    top: 640px;
    left: 480%;
    bottom: 19%;
    right: 458%;
}

.bot:hover{
    background-color: #db5d03;
}

.bot:active{
    top: 4px;
}