.divInicial{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    padding: 300px 660px;
    background-color: #004089;
    border-radius: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
}

.divSegundo{
    position: absolute;
    top: 300px;
    left: 660px;
    transform: translate(-50% , -50%);
    padding: 100px 100px;
    background-color: #057AFF;
    border-radius: 30px;
    border-color: white;
}

.posicao{
    position: relative;
    margin-bottom: 4%;
    right: 350px;
    top: 50px;
}

.tituloPosicao{
    position: relative;
    right: 5%;
    bottom: 60px;
    text-align: justify;
}

.ohYeah{
    position: absolute;
    background-color: white;
    padding: .3% 45%;
    border-radius: 100px;
    top: 18%;
    right: 5.8%;
}

.decepcionante{
    margin-left: 3%;
}

.tabela{
    position: absolute;
    right: 30%;
    top: 70%;
}

.tableLa{
    font-size: 200%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-color: #ffffff;
    border-style: solid;
    padding-inline-start: 15px;
    background-color:  #ff8a36;
    width: 280%;
    position: relative;
    left: 2%;
    border-color: white;
    text-align: center;
    border-width: 4px;
}

.tableCa{
    font-size: 200%;
    border-color: #ffffff;
    border-style: solid;
    padding-inline-start: 15px;
    background-color:  #ff8a36;
    width: 163%;
    position: relative;
    left: 90%;
    text-align: center;
    border-color: white;
    border-width: 4px;
}

.tableRa{
    font-size: 200%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-color: #ffffff;
    border-style: solid;
    padding-inline-start: 15px;
    background-color:  #ff8a36;
    width: 140%;
    position: relative;
    left: 130%;
    text-align: center;
    border-color: white;
    border-width: 4px;
}

.trPosicao{
    margin-left: 90%;
}

.botaoPosicao{
    margin-bottom: 18%;
}

.botaoPosicaoUp{
    margin-top: 20%;
}

.divBonita{
    padding: 0% 1%;
    position: relative;
    background-color: #FF9528;
    right: 0%;
    top: 10px;
    border-radius: 20px;
    border-style: solid;
    border-color: white;
}