.divLoginnn{
    transform: translate(-50% , -50%);
    padding: 20px 50px;
    background-color: #057AFF;
    border-radius: 15px;
    border-color: white;
    position: absolute;
}

.divMain{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    padding: 150px 295px;
    background-color: #004089;
    border-radius: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
}

.bata{
    background-color: #FF6C01;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 9rem;
    height: 2rem;   
    border-radius: 15px;
    color: white;
    border-block-color: revert;
    border-block-start-width: initial;
    border-block-end: none;
    border-left-color: #ffffff00;
    border-right-color: #ffffff00;
    border-top-color: #ffffff00;
    cursor: pointer;
}

.bata:active{
    position: absolute;
    bottom: 12%;
}

.bata:hover{
    background-color: #db5d03;
    color: #fff;
}

.poti{
  position: absolute;
  left: 64%;
  top: 80%;
}

.perna{
  position: relative;
  left: 1%;
}
