.divLogin :visited{
    color: #000000;
    font-weight: bolder;
}

.caixaTexto{
    font-size: 2em;
    border-radius: 30px;
    border-color: #0000007d;
    border-style: hidden;
    border-top-style: solid;
    padding-inline-start: 15px;
}

.caixaTexto2{
    font-size: 160%;
    border-radius: 30px;
    border-color: #0000007d;
    border-style: hidden;
    border-top-style: solid;
    padding-inline-start: 15px;
}

.divLoginG{
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    position: absolute;
    padding: 324.3px 504.5px;
    background-color: #237deb;
    border-radius:100px;
    box-shadow: 15px 17px 20px 0px #0000007f;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
}

.divLoginL{
    position: absolute;
    right: 575px;
    top: 140px;
}

.divLoginR{
    position: absolute;
    left: 575px;
    top: 140px;
}

.linkL{
    position: absolute;
    left: 18%;
    top: 100%;
    color: #fff;
}

.linkR{
    position: absolute;
    left: 24%;
    top: 100%;
    color: #fff;
}

nav.transicao{
    transform: translate(-50% , -50%);
    position: absolute;
    height: auto;
    top: 50%;
    left: 62.5%;
    background-color: #ffffff;
    padding: 324px 270px;
    overflow: hidden;
    transition: .5s;
    border-radius:100px;
}
    
.botaoo{
    background-color: #1b68c4;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 9rem;
    height: 2rem;   
    border-radius: 15px;
    color: white;
    border-block-color: revert;
    border-block-start-width: initial;
    border-block-end: none;
    border-left-color: #ffffff00;
    border-right-color: #ffffff00;
    border-top-color: #ffffff00;
    cursor: pointer;
    }

.botao{
    background-color: #1e96ba;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 9rem;
    height: 2rem;   
    border-radius: 15px;
    color: white;
    border-block-color: revert;
    border-block-start-width: initial;
    border-block-end: none;
    border-left-color: #ffffff00;
    border-right-color: #ffffff00;
    border-top-color: #ffffff00;
    cursor: pointer;
}
.senaiLogoR{
    position: fixed;
    top: -11%;
    left: 77%;
}