.fundinho1{
    background-image: url("img/manda.png");
    background-repeat:no-repeat;
    background-position:absolute; 
}
.divLoginR{
    transform: translate(-50% , -50%);
    padding: 20px 50px;
    background-color: #004089;
    border-radius:15px;
    border-radius:10px;
}
.divLoginL{
    height: auto;
    top: 50%;
    left: 27%;
    position: absolute;
    padding: 40px 60px;
}